@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
 box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}
.mobile{
  visibility: hidden;
}
.web{
  visibility: hidden;
}
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}
.snowflakes2 {
  color: #fff;
  font-size: 1.4em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}
@-webkit-keyframes snowflakes-fall{0%{top:-15%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-15%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-15%;z-index:-2;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
@-webkit-keyframes snowflakes-fall{0%{top:-15%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-15%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflakes2{position:fixed;top:-15%;z-index:-2;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflakes2:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflakes2:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflakes2:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflakes2:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflakes2:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflakes2:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflakes2:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflakes2:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflakes2:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflakes2:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
.demo {
  font-family: 'Raleway', sans-serif;
  color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;
}


.red{
  display: inline-block;
  text-align: justify;
  padding: 10px;
  background-color: transparent;
  background: transparent;
  font-weight: bold;
  font-size: 70px;

  color:white;
  background-color:transparent;

}

.redm{
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 2%;
  background-color: transparent;
  background: transparent;
  font-weight: bold;
  font-size: 200%;

  color:white;
  background-color:transparent;

}
.green{
  color: #028a0f;
  display: inline-block;
  font-weight: bold;
}
h1{
  padding-bottom: 5px;
}

.map{
  height: 80vh;
  width: 80%;
  align-items:center;
  display: flex;
  border-radius: 20px;
  border:inset;
  border-width: 10px;
  border-style: block;
  border-color: #grey;

}
.mapm{
  height: 60vh;
  width: 85%;
  align-items:center;
  display: flex;
  border-radius: 20px;
  border:inset;
  border-width: 10px;
  border-style: block;
  border-color: #grey;

}
.mapalign{
padding-top: 5%;
  text-align: -webkit-center;
}

li,a,.buttonmenu{
  font-family: "Montserrat", sans-serif;
  font-weight: 500 bold;
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding-left: 5px;
}
a .buttonmenum{
  font-family: "Montserrat", sans-serif;
  font-weight: 500 bold;
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding-left: 5px;
  padding-top: 20px;
}

header{
position: sticky;
top:0;
  z-index: 4;
  background: repeating-linear-gradient(
  -45deg,
  rgba(255, 255, 255, 0.7),
  rgba(255, 255, 255, 0.7) 10px,
  rgba(200, 100, 100, 1) 10px,
  rgba(200, 100, 100, 1) 20px
);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5%;
  font-weight: bold;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.logo{
  margin-right: auto;
  cursor: pointer;
  width:200px;
}
.logom{
  margin-right: auto;
  cursor: pointer;
  width:150px;
}
.menum{
  width: 40px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdownm {
  position: relative;
  display: inline-block;
}

.dropdown-contentm {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left: -140px;
  margin-top: -30px;

}
.dropdown-contentm li a{
   text-align: left;

}
.dropdownm:hover .dropdown-contentm {
  display: block;
}

.nav__links{
  list-style: none;


}
.nav__links li {
  display: inline-block;

}
 .nav__links li a{
   transition: all 0.3s ease 0s;
 }
 .nav__links li a:hover{
   color: rgba(255, 100, 100, 1);

 }
 .buttonmenu
 {
   padding: 10px 25px;
   background-color: white;
   border: black;
   border-style: solid;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
   background-color: rgba(255,255,255,0.7);
   color: rgba(200, 50, 50, 1);
   font-weight: bold;
 }
 .buttonmenu:hover{
   background-color: rgba(255, 100, 100, 0.5);
   color: black;
   text-decoration-color: black;
 }
 .buttonholderm{
   padding-top: 13px;
   padding-right: 25px;
   padding-bottom: 13px;
   text-align: right;
 }
 .buttonmenum{
   padding: 10px 20px;
   border: black;
   border-style: solid;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
   background-color: rgba(255,255,255,1);
   color: rgba(200, 50, 50, 1);
   font-weight: bold;
 }
 .buttonmenum:hover{
   background-color: rgba(255, 100, 100, 0.9);
   color: black;
 }
 .footer{
   background-color: rgba(0, 0, 0, 0.5);
   padding: 15px
 }
 footer h3{
   color: white;
   align-items: center;
 }
 .footerimgdiv{
	border-radius: 50%;
   width: 50px;
}
.icons{
  align-items: center;
  text-align: center;
}
.switch{
  padding: 10px;
}
.buttontoggleMob{

  text-align: center;
  align-items: center;
  position: fixed;

  left: 10px;
  top:0%;
  text-align: center;
  z-index: 200;
  opacity: 45%;
  color: aqua;
  display: inline-flex;
  width: 25px;
  height: 25px;
  align-content: center;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  border: none;
}
.buttontoggleoff{

  text-align: center;
  align-items: center;
  position: fixed;

  left: 0%;
  top:0%;
  text-align: center;
  z-index: 200;
  opacity: 20%;
  display: inline-flex;
  width: 25px;
  height: 25px;
  align-content: center;
  font-size: 20px;

  border-radius: 50%;
}
.buttontoggleoff:hover{
  opacity: 100%;
}
