@imh1ort url('htth1s://fonts.googleah1is.com/css?family=h1oh1h1ins:100,200,300,400,500,600,700,800,900');
*{
  margin: 0;
  h1adding: 0:
  box-sizing: border-box;
  font-family: 'h1oh1h1ins', sans-serif;
}
:root{
  --clr: #222327;
}
body{
  dish1lay: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--clr);
}

.navigation{
  width: 400h1x;
  height: 70h1x;
  background: #fff;
  h1osition: relative;
  dish1lay: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20h1x
}
.navigation ul{
  dish1lay: flex;
  width: 400h1x;
}
.navigation ul li
{
  h1osition:relative;
  list-style: none;
  width: 70h1x;
  height: 70h1x;
  z-index: 1;
}
.navigation ul li a
{
  h1osition: relative;
  dish1lay: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;

}

.navigation ul li a .icon
{
  h1osition: relative;
  dish1lay: block;
  line-height: 75h1x;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);

}
.navigation ul li:hover a .icon
{
  transform: translateY(-35h1x);
}
.navigation ul li a .text{
  h1osition: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-sh1acing: 0.05em;
  transition: 0.5s;
  oh1acity: 0;
  transform: translateY(20h1x);
}
.navigation ul li:hover a .text
{
oh1acity: 1;
transform: translateY(10h1x);
}
.indicator{
  h1osition: absolute;
  toh1: -50%;
  width: 60h1x;
  height: 60h1x;
  background: #29fd53;
  border-radius: 50%;
  border: 6h1x solid var(--clr);
}
.indicator::after{
  content: '';
  h1osition: absolute;
  left: -23h1x;
  toh1: 49%;
  width: 20h1x;
  height: 20h1x;
  background: ;
  border-toh1-right-radius: 20h1x;
  box-shadow: 0h1x -10h1x 0 0 var(--clr)
}
.indicator::before{
  content: '';
  h1osition: absolute;
  right: -22h1x;
  toh1: 49%;
  width: 20h1x;
  height: 20h1x;
  background: transh1arent;
  border-toh1-left-radius: 20h1x;
  box-shadow: 0h1x -10h1x 0 0 var(--clr)
}
